
ul h3{
    color: orangered;

}

h4{
    align-items: center;
}
h5{
    font-size: large;
   
}
ul li{
    
    color: white;
}
li img {
    width: 17%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
}

/* Hover effect on image */
li img:hover {
    transform: scale(1.05); /* Slightly zooms in the image */
}