body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('Pic/food.jpg') no-repeat center center/cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.message {
    color: chartreuse;
    padding: 0.5px;
    font-size: 16px;
    font-weight: bold;
    animation: message 5s ease-in-out forwards;
    position: relative;
    bottom: 25px;
}
@keyframes message {
    0% { opacity: 0; } 
    20% { opacity: 1; } 
    80% { opacity: 1; } 
    100% { opacity: 0; visibility: hidden; }
}
.log-in {
    background: rgba(24, 2, 2, 0.378);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(12, 11, 11, 0.2);
    width: 350px;
    transform: translateY(0);
    transition: all 0.3s ease;
    
}


.log-in form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
   
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1c1127;
    box-shadow: 0 0 8px rgba(118, 75, 162, 0.3);
    outline: none;
}

input[type="submit"] {
    background: orangered;
    color: rgba(246, 240, 240, 0.805);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    background: #FF7043;
    transform: translateY(-2px);
}

h2 {
    color: #444;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.additional-links {
    margin-top: 20px;
    text-align: center;
}





.log-in {
    background: rgba(24, 2, 2, 0.378); /* Semi-transparent background */
    backdrop-filter: blur(3px); /* Adds the blur effect */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(12, 11, 11, 0.2);
    width: 350px;
    transform: translateY(0);
    transition: all 0.3s ease;
}
@media (max-width: 480px) {
    .log-in {
        width: 85%;
        padding: 25px;
    }
}

/* Decorative elements */
.log-in::before {
    content: "👤";
    font-size: 40px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    background: #d8d9e093;
    color: rgb(74, 27, 27);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right:auto;
}